{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
        {snappy, ".*", {git, "https://github.com/skunkwerks/snappy-erlang-nif", {branch, "master"}}},
        {lz4, ".*", {git, "https://github.com/gramini-tech/erlang-lz4.git", {branch, "master"}}},
        {semver, ".*", {git, "https://github.com/nebularis/semver.git", {branch, "master"}}},
        {uuid, "1.7.3", {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
        {pooler, ".*", {git, "https://github.com/seth/pooler.git", {branch, "master"}}},
        {re2, ".*", {git, "https://github.com/tuncer/re2.git", {tag, "v1.7.5"}}}
]}.
